@model News

<div class="row">
    <div class=" col">@Model.Title</div>
    <div class=" col">@Model.Author</div>
    <div class=" col">@Model.Category</div>
    <div class=" col">@Model.Created</div>
    <div class=" col">@Model.Content</div>
</div>