@model Film
@if (Model.Id == 0)
{
    <label>Film not found.</label>
}
else
{
    <div class=" row">
        <div class=" col">@Model.Id</div>
        <div class=" col">@Model.Name</div>
        <div class=" col">@Model.Category</div>
        <div class=" col">@Model.Stars</div>
        <div class=" col">@Model.Cinema</div>
    </div>
    <a class="btn btn-primary" asp-action="AddTrailer" asp-controller="Films" asp-route-id="@Model.Id">Add or Update Trailer</a>
    <a class="btn btn-primary" asp-action="SeeTrailer" asp-controller="Films" asp-route-id="@Model.Id">See Trailer</a>
}
